nav{
    height: 50px;
    background-color: rgb(241, 241, 241);
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#utama{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.content{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.isi h1{
    font-size: 30px;
}

.isi{
    height: 80vh;  
    margin: 20px 60px;      
}

img {
    width: 100%;          
    height: 250px;       
    object-fit: cover;    
    border-radius: 5px 5px 0 0;
}

table{
    margin-top: 25px;
}

table tr{
    border-bottom-width: 2px;
}

/*===============================================================*/

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: rgb(245, 246, 251);
    padding: 50px 45px;
    margin: 50px;
    width: 800px; 
    border-radius: 5px;
}

.judul{
    font-size: 35px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

hr{
    border-width: 1px;
}

#a, #b{
    width: 50%;
}

#c{
    display: flex;
    gap: 25px;
}

#d{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 25px;
}

/*===============================================================*/

.viewData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 60px;    
    gap: 15px; 

}

.dataCard{
    width: 100%;
    max-width: 1200px;    
    padding: 20px;
    border-radius: 5px;    
    background-color: rgb(233, 233, 233);    
    border: 1px solid rgb(217, 217, 217);
}

.viewData button{
    width: fit-content;
}

.dashboardButton{
    width: 100%;
    max-width: 1200px;
}